body {
    font-size: 16px;
}

.bg-wrapper {
    background-image: url("../public/images/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: auto;
}

.header {
    height: 150px;
}

.box {
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 8px;
    background-color: white;

}

.login-form.box, .register-form.box {
    box-shadow: 0 0 10px 10px rgba(149, 157, 165, 0.2);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* vh stands for viewport height */
}

.login-form, .register-form {
    width: 400px;
    max-width: 100%; /* adjust this value to control the form's width */
}

a {
    text-decoration: none;
    color: darkred;
}

input[type=text],
input[type=text]:hover
input[type=text]:focus,
input[type=text].focus {
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
}

.btn, button, .rs-btn {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid darkslateblue;
    background: white;
    color: darkslateblue;
}

.tab .btn.selected {
    background: #6659b4;
    color: white;
}

.btn:hover,
.rs-btn:hover,
.btn.selected:hover {
    background: darkslateblue;
    border: 1px solid darkslateblue;
    color: white;
}

.search-btn {
    border-radius: 5px;
    padding: 9px;
    background: darkred;
    color: white;
}

.search-btn:hover {
    background: darkred;
    opacity: 0.9;
}

.search-btn.full-width {
    width: 100%;
}


.welcomeText {
    color: darkslateblue;
    font-size: 25px;
}

.rs-picker-toggle-wrapper {
    display: block;
    width: 100%;
}

.error_text {
    color: red;
    font-size: 14px;
    padding-bottom: 15px;
}

.adminPageTitle {
    color: darkslateblue;
    font-size: 18px;
    font-weight: bold;
}

.rs-table-cell-header {
    font-weight: bold;
    color: #2f2f2f;
}

.rs-table-cell {
    font-size: 15px;
}

.table_action svg {
    cursor: pointer;
    color: #3f3f3f;
}

.FlightSearchSpinnerPanel {
    font-size: 1.5rem;
}

.flightSearchIcon {
    position: relative;
    animation: moveX 15s infinite; /* Apply the animation */
}

@keyframes moveX {
    0% {
        left: 0;
    }
    /* Start position */
    100% {
        left: 300px;
    }
    /* Midway position */
    /*100% {*/
    /*    left: 0;*/
    /*}*/
    /* End position (back to start) */
}

.spinning {
    animation: circle 1.2s steps(8) infinite;
}


@keyframes circle {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(450deg);
    }
}


.search-result-row p, p.flightInformation {
    font-size: 14px;
}


ul {
    padding: 0;
    list-style: none;
}

h4 {
    font-size: 18px;
    color: darkslateblue;
}

h5 {
    font-size: 15px;
}

.spinner_container {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999;
    align-items: center;
}

.spinner_container svg {
    position: absolute;
    top: 45%;
}

.rs-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.airlinesFilter {
    height: 200px;
    overflow-y: scroll;
}

.footer p {
    color: white;
    font-weight: bold;
}

.returnFlightCell {
    height: 100px;
}

.returnFlightPrice {
    padding-top: 50px;
}